* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gruppo', cursive;
  font-size: 70px;
  color: #97AAD0;
  font-weight: bold;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1{
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 20px;
}

.pads{
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div{
  height: 100px;
  width: 100px;
  flex:  1;
}
.pad1{
  background: #34495E;
}
.pad2{
  background: #5D6D7E;
}
.pad3{
  background: #CCD1D1;
}
.pad4{
  background: #F4ECF7;
}
.pad5{
  background: #E8DAEF;
}
.pad6{
  background: #D7BDE2;
}

@keyframes jump {
  0% {
bottom: 70%%;
left: 50%%;
  }
  50% {
bottom: 50%%;
left: 70%;
  }
  100% {
bottom: 00%;
left: 80%;
  }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visual > div{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
}
